# Backend environment variables
NODE_ENV=production
PORT=5000

DATABASE_URL=your_database_url_here


BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=your_better_auth_url_here


ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
ACCESS_TOKEN_EXPIRES_IN="1d"
REFRESH_TOKEN_EXPIRES_IN="7d"



CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

FRONTEND_URL=your_frontend_url_here


# Gmail SMTP
EMAIL_SENDER_SMTP_USER=your_email_here
EMAIL_SENDER_SMTP_PASS=your_email_password_here
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=your_email_here


#google auth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=your_google_callback_url_here




SUPER_ADMIN_EMAIL=your_super_admin_email_here
SUPER_ADMIN_PASSWORD=your_super_admin_password_here


STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_MONTHLY_PRICE_ID=your_stripe_monthly_price_id_here
STRIPE_YEARLY_PRICE_ID=your_stripe_yearly_price_id_here

# Frontend environment variables
NEXT_PUBLIC_API_BASE_URL=your_frontend_api_base_url_here
NEXT_PUBLIC_BACKEND_URL=your_frontend_backend_url_here

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_cloudinary_upload_preset_here